body {
  background: #000;
  color: #ffa;
}

#about-us {
  float: right;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Abel,Helvetica Neue,Arial,sans-serif;
}

body, p, div, .nav, .page-title, .page-content {
    font-family: Abel,Helvetica Neue,Arial,sans-serif;
}

.page-title {
  margin-left: .6em;
  font-size: 4em;
}

#model-description {
  font-size: 2em;
  margin-left: 1.2em;
  margin-top: 1em;
}