#table-wrapper {
  margin: 2em 3em 0 0;
}

ul {
  list-style: none;
}

.team {
  width: 100%;
  height: 10em;
}

li.team {
  border-bottom: .05em solid black;
}

.team-logo {
  width: 10em;
  float: left;
  display: inline-block;
}

.team-name {
  margin-top: 1.8em;
  margin-left: 3em;
  font-size: 2em;
  color: black;
  float: left;
  display: inline-block;
}

.team-mascot {
  margin-top: 2.8em;
  margin-left: 1em;
  font-size: 1.5em;
  color: black;
  float: left;
  display: inline-block;
}

.points {
  margin-top: 2.8em;
  margin-left: 1em;
  font-size: 1.5em;
  color: black;
  float: right;
  display: inline-block;
}

.rank {
  font-size: 2em;
  float: left;
  display: inline-block;
}

#top-25-title {
  margin-left: .6em;
	 font-size: 4em;
  display: inline-block;
}

#week-number {
  margin-left: .6em;
	 font-size: 1.5em;
  display: inline-block;
}

img {
  max-width:100%;
  max-height:100%;
  margin: 0 auto;
}

.button {
  margin-top: 1.2em;
  margin-right: 1em;
  float: right;
  padding-left: 3em;
  display: inline-block;
  font-size: 2em;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Abel,Helvetica Neue,Arial,sans-serif;
}
p, div, .nav {
    font-family: Abel,Helvetica Neue,Arial,sans-serif;
}
