#table-wrapper {
  margin: 2em 3em 0 0;
}

ul {
  list-style: none;
}

.team {
  width: 100%;
  height: 10em;
}

li.team {
  border-bottom: .05em solid black;
}

.team-logo {
  width: 10em;
  float: left;
  display: inline-block;
}

.team-content {
  margin-top: 1.8em;
  margin-left: 3em;
  font-family: Abel,Helvetica Neue,Arial,sans-serif;
  font-size: 2em;
  color: black;
  float: left;
  display: inline-block;
}

.rank {
  font-family: Abel,Helvetica Neue,Arial,sans-serif;
  font-size: 2em;
  float: left;
  display: inline-block;
}

#top-25-title {
  margin-left: .6em;
  font-family: Abel,Helvetica Neue,Arial,sans-serif;
	 font-size: 4em;
}

img {
  max-width:100%;
  max-height:100%;
  margin: 0 auto;
}
