doctype html
html
  head
    link(rel='stylesheet', href='source/css/index.css')
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="source/js/index.js")
    title CFB Network Model
  body
    h1.page-title Welcome